@charset "utf-8";

/////////////////////////////* default */////////////////////////////

body { -webkit-font-smoothing: antialiased; }
body,html{overflow-x: hidden;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {	box-sizing: border-box;}
ol, ul, li {list-style: none;text-decoration: none;}
table {	border-collapse: collapse; border-spacing: 0;}
img { max-width: 100%;	height: auto; 	border: 0; }
button {border: 0; background: transparent; cursor: pointer;}
input{ -webkit-appearance: none;-webkit-border-radius: 0;}

::-webkit-scrollbar {
    width: 8px; /* 세로 스크롤바의 너비 */
    height: 8px; /* 가로 스크롤바의 높이 */
}


::-webkit-scrollbar-track {
    background: #eae8e8;
 
}


::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    cursor: pointer;


}

/* Chrome, Firefox, Opera, Safari 10.1+ */
input:focus::placeholder{
    color:transparent;
}

/* Edge */
input:focus::-ms-input-placeholder{
    color:transparent;
}

input{
    border: 2px solid #c0bdbd; height: 40px;
    border-radius: 5px; padding: 0 7px; color: #000;
}
textarea{
    border: 2px solid #c0bdbd;border-radius: 5px; padding: 10px;
}

/////////////////////////////* default */////////////////////////////

$main-color : #E9501A;


body{
    background: rgb(233, 233, 233);
}


.nav{
    position: fixed; top: 0; right: 0; padding: 0 5vw 0 3vw;
    width: 88vw; height: 100px;  z-index: 1000;
    transition:  height 0.2s linear;
    &.active{
        backdrop-filter: blur(5px); height: 70px;
        
    }
    ul{
        display: flex; height: 100%;
        width: 100%; justify-content: space-between; 
        padding-right: 8px;
        li{
            display: flex; align-items: center; justify-content: flex-end; 
            &.search{ 
                position: relative; width: 35vw;
            
                input{
                    width: 100%;  border-radius: 20px; padding: 0 80px 0 40px;
                    border:none; height: 40px;
                }
                img{
                    &.searchImg{
                        left: 10px; height: 20px; position: absolute;
                    }
                }

                .option{
                    width: 40px; height: 40px; position: absolute; 
                    right: 0px; display: flex; align-items: center; justify-content: center;
                    cursor: pointer;
                    img{
                        height: 15px; transition: transform 0.5s ease-in-out;
                    }
                    &:hover{
                        img.optionImg{
                            transform: rotate(30deg);
                        }
                        ul{
                            li{
                                opacity: 1;
                            }
                        }
                    }
                    ul{
                        position: absolute; width:auto; height: auto;
                        top: 6px; right: -120px;
                        align-items: center;
                        li{
                            display: flex; display: flex; align-items: center; justify-content: center;
                            width: 30px; height: 30px; background: #fff;
                            border-radius: 50%; margin-right: 5px; opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                            &:hover{
                                background: #9ab8ef; transition: background 0.2s ease-in-out;
                            }

                        }
                     
                    }
                }

            }
            &.admin{
                width: 40%;
                img.user{
                    height: 30px;
                    border: 1px solid #eee; background: #fff;
                    border-radius: 50%; padding: 10px; margin-right: 20px;
                }
                .wp{
                    line-height: 1.5;
                    p{
                        &.name{
                            display: flex; align-items: center;
                            font-size: 15px;
                            a{display: flex;align-items: center; margin-left: 5px;}
                            img{
                                width: 15px;
                            }
                        }
                        font-size: 12px;
        
                    }
                    a{font-size: 12px; color: #000; }
                }
            }
            
        }
    }

}
.side-nav{
    position: fixed; width: 13vw; height: 100vh; background: #fff;
    z-index: 1001;
    ul{
        padding: 0 25px;
        li{
            &.logo{
                height: 100px; display: flex; align-items: center; margin-bottom: 20px;
                a{
                    font-size: 2vw; color: #000;
                }
            }
            button{
                &:hover{
                    background: #278afc; color: #fff;
                    img{
                        filter: invert(1);
                    }
                }
                &.active{
                    background: #278afc; color: #fff;
                    img{
                        filter: invert(1);
                    }
                }
                img{
                    width: 15px; margin-right: 10px;
                }
               font-size: 12px;
                margin: 10px 0;
                border-radius: 10px;height: 50px; width: 80%;
                display: flex; align-items: center;text-transform: uppercase;
             
            }
        }
    }

}
section{
 
    &.main{ 
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        position: relative; width: 100vw; height: 100vh; background: $main-color;
        .login-btn{
            background: #000; color: #fff; padding: 5px 20px;
            border-radius: 5px;
        }
        .welcome{
            font-size: 13px;
            margin: 30px 0 20px; border-bottom: 1px solid #000;
        }
        .Register{
            font-size: 12px; border-bottom: 1px solid #000;
        }
        h1.title{
            font-size: 9vw; text-transform: uppercase;  
        }
        // 메인페이지
        .btn-wrapper{
            display: flex; align-items: center; justify-content: center;
            button{
                cursor: pointer;  padding: 5px 10px;
                
            }
            .line{
                width: 22vw; height: 1px; background: #000;
            position: relative;
                .circle{
                    width: 5px; height: 5px; background: #000;
                    position: absolute; border-radius: 50%; top: 50%; left: 50%; 
                    transform: translate(-50%,-50%);
                    transition: all ease-in-out 0.8s;
                    &.left{
                        left: 100%;
                    }
                    &.right{
                        left: 0;
                    }
                }
            }
        }
        .copyright{
        position: absolute; font-size: 13px; font-weight: bold;
        bottom: 20px; left: 20px;
    }
    }
    &.login-page{
        width: 100%; height: 100vh; display: flex; position: relative;
        align-items: center; justify-content: center; background: $main-color;
        h2{
            font-size: 50px; font-weight: 100; text-transform: uppercase;
            margin-bottom: 20px; background: #000; color: #fff; font-weight: bold; text-align: center;
        }
        p{margin-bottom: 50px;}
        .wrapper{
             background: #fff;
             border-radius: 20px; width: 30vw; height: auto;
             padding: 30px;  min-width: 480px; min-height: 500px;
             border: 3px solid #000;  display: flex;
             flex-direction: column; justify-content: space-around;
            form{
                display: flex; flex-direction: column;
             
                input{
                    width: calc(100% - 14px); height: 40px; 
                    margin: 10px 0; border: 1px solid #000;
                    padding-left: 10px; font-size: 12px;
                    &:focus{
                        outline : 1px solid $main-color;
                        border: 1px solid #fff;
                    }
                    &.id-input{
                        margin-bottom: 0;
                      }
                }
                label{
                    font-size: 12px; margin-top: 12px; 
                    padding: 5px ;
                    .alert{
                        color: #f00; display: none;
                        &.duplicateId{
                            display: inline;
                        }
                        &.positive{
                            color: blue;
                        }
                    }

          
                }
                button.submit{
                    background: #6d6d6d; color: #fff;
                    &.active{
                        background: $main-color; color: #fff;
                        transition: background 0.2s ease-in-out;
                    }
                     margin-top: 10px;
                    width: 100%;height: 44px;  font-size: 15px; margin-top: 20px;
                    bottom: 50%; right: 10vw; border: 2px solid #000;
                }
                button.check-id{
                    margin-top: none; background: #000; color: #fff; padding: 5px 0;
                }
            
            } 
            button.join{
                width: 25%; border-bottom: 2px solid $main-color;
               margin: 0 auto;
            }
        }
    }
    &.admin{
        width: 80vw;
        margin: 100px 3vw 100px 15vw;
       
    }
    &.admin-main{
        height: calc(100vh - 150px);
        display: flex; width: 100%;
        flex-direction: column; position: fixed;
        .info{
            display: flex; width: 80vw;
            justify-content: space-between;  
            padding: 10px 0;
            .left-section{
                display: flex; align-items: flex-end;
                .filter-btn{
                    width: auto; height: 25px;
                    display: flex; align-items: center; justify-content: center;
                    > select{
                        margin-right: 5px; height: 100%; background: #000; color: #fff;
                        border-radius: 5px; border: none;        
                        font-weight: 100; font-size: 12px;
                    }
                    .filter{
                       
                        option{
                            color: #fff;
                        }
                    }
                }
                h2{
                    text-transform: uppercase;
                    font-size: 20px; 
                    .search-result{
                        font-size: 15px; 
                        margin-left: 10px;
                        strong{
                            color: rgb(251, 38, 77);
                        }
                      
                    }
                }
            }

            .btn-wrapper{
                display: flex;
      
                button{
                    background: #278afc; color: #fff;
                    border-radius: 10px; display: flex; align-items: center;
                    padding: 5px 15px 5px 0; font-size: 12px; margin-right: 8px;
                    img{
                        height: 25px;
                    }

                    &.excelDown{
                        padding: 10px; background: $main-color;
                    }
                }
                .page-btn{
                    display: flex; align-items: flex-end; margin-right: 20px;
                    button{
                        padding: 0; width: 35px; height: 35px; transition: transform 0.3s ease-in-out;
                        display: flex; align-items: center; justify-content: center;
                        background: #000; border-radius: 5px; 
                        &:hover{
                            transform: scale(0.9);
                        }
                        img{
                   
                            width: 20px; height: 20px;
                            filter: invert(1);
                        }
                        &:last-child{
                            img{
                                transform: rotate(180deg);
                            }
                        }
                        &:disabled{
                            background: #c0c0c0;
                        }
                    }
                }
            }

        }
        .main-section-wrapper{
            overflow-y: scroll; 
            overflow-x: scroll; 
            background: #fff;
            width: 80vw; height: 80vh;
            border-radius: 10px; 
         
   
            .delete-alert{
                position: fixed; top: 50%; left: 50%; background: fff;
                transform: translate(-50%, -50%); width: 30%; z-index: 1010;
                background: #f1f1f1; padding: 50px 20px; border-radius: 10px;
                line-height: 1.5; display: none;
                h2{
                    font-size: 20px; 
                    strong{
                        color: #f00;
                    }
                }
                p{font-size: 12px;}
                .select-button{
                    margin-top: 20px;
                    display: flex;  justify-content: flex-end;
                    button{
                        background: #278afc; color: #fff;
                        padding: 5px; width: 100px; margin-left: 10px;
                        &:last-child{
                            background: #dddddd; color: #000;
                        }
                    }
                }
                .close-button{
                    position: absolute; top: 15px; right: 20px;
                    button{
                        margin: 0;
                        img{
                            width: 20px; height: 20px;
                        }
                    }
                }

            }

            // 데이터 없음
            .nodata{
                display: flex; align-items: center; justify-content: center;
                flex-direction: column;height: 100%;
                img{
                    height: 300px;
                }
                h3{background: #000; color: #fff; padding: 5px 10px; margin: 10px 0;}
            }
        
            table{
                width: 100%; height: 100%;
                border-top: none;
  

                // 공용
                thead, tbody{
                    tr{
                        display: flex; width: 100%; 
                        td{ height: 50px; border: 0.5px solid #eee; border-top: none; border-left: none;}
                        th,td{
                            font-size: 12px; padding: 15px 10px;
                            width: 150px; text-align: center; 
                            display: flex; align-items: center; justify-content: center;
                            &:first-child{width: 30px;} 
                            &:nth-child(2),  &:nth-child(3){width: 100px;}
           
                        }

                    }
                }

                // 타이틀
                thead{
                     height: 20px; 
                    tr{
                         padding: 10px 2px; 
                        &:first-child{}
                    }
                }

                // 컨텐츠
                tbody{
                    border: 2px solid #eee;
                    tr{
                          border-bottom: 1px solid #ececec; 
                        &:hover{
                            background: #b9e0fa;
                        }
                        td{
                            &.manageBtn{
                                button{
                                    padding: 4px 6px; color: #fff;
                                    font-size: 12px;
                                    &:first-child{background: #0f98f3;}
                                    &:last-child{background: hsl(0, 82%, 57%);}
                                }
                            }
                            .img-wrapper{
                                 height: 100%; 
                                    img{
                                        height: 100%;
                                    }
                            }
                        }


                        &.artist{       
                            td{
                                height: 100px; flex-direction: column;
                                &.artistPage{
                                    cursor: pointer;
                                    &:hover{
                                        .img-wrapper{img{border: 3px solid #1b2eff;}}
                                    }
                                }
                                &.addArtwork{
                                    button{
                                            font-size: 12px;
                                            color: #fff; background: #30acff;
                                            padding: 10px; border-radius: 10px;
                                            transition: background 0.2s ease-in-out;
                                            &:hover{
                                                background: #0099ff;
                                                border: 2px solid $main-color;
                                            }
                                    
                                        &.fail{
                                            animation: failSubmit 1s forwards ease-in-out;
                                        }
                                    }
                                }

                                .img-wrapper{
                                    width: 100px; height: 80px;
                                    display: flex; align-items: center; justify-content: center;
                                    img{
                                        border-radius: 10px; border: 3px solid #000;
                                        height: 90%;
                                    }
                                }
           
                    
                            }
                        }
                        &.artwork{
                            td{
                                &.artistPage, &.artworkPage{
                                    cursor: pointer; z-index: 100;
                                    &:hover{
                                       background: #55a5d3;
                                   
                                    }
                                }
                            }
                        }
                        &.user{
                            td{
                                position: relative;
                                .modify-pop{
                                    position: absolute;
                                    background: #000; right: 0%; top: 0; 
                                    width: 100%; height: 100%;
                                    opacity: 0.9; color: #fff; 
                                    padding: 5px; font-size: 12px;
                                    button{
                                        color: #fff; font-size: 12px;
                                        &:first-child{
                                            background: #278afc; color: #000;
                                        }
                                        &:last-child{
                                            background: red; margin-top: 10px;
                                        }
                                    }
                                }
                            }

                        }
                       
                    }

                }


            }
        

        }

    }
    &.artist-write{
         min-height: 80vh;
         margin-bottom: 50px;
         form{
            display: flex; flex-direction: column; padding: 30px; 
            background: #fff; border-radius: 10px;
         }
        .img{
            width: 200px; height: 200px; 
            position: relative;     margin-bottom: 30px;
            label{
                background: #000; width: 100%; height: 100%; position: relative;
                position: absolute;border-radius: 50%; cursor: pointer;
                border: 3px solid #000;  display: flex; align-items: center; justify-content: center;
                input{display: none;}
                .preview-img-wrapper{
                       width: 100%; height: 100%; position: relative; 
                       overflow: hidden; border-radius: 50%; 
                }
                img{
                    &#previewImg{
                        position: absolute; width: 100%;
                       top: 50%; left: 50%; transform: translate(-50%,-50%);
                    }
                    &.plus{ 
                        position: absolute; bottom: 0%; right: 0%; 
                        width: 50px; height: 50px; background: #000;
                        border-radius: 50%;
                    }
                
                }
            }
        }
        .info-form{
            width: 50%; max-width: 600px;
            padding-bottom: 20px; border-bottom: 1px solid #c8c4c4;  border-top: 1px solid #c8c4c4;
            h2{
                margin: 20px 0; text-transform: uppercase;
                font-size: 35px; font-weight: bold;  letter-spacing: -1.5px;
                span{
                    font-size: 15px; letter-spacing: 0;
                }
            }
            label{
                display: flex; flex-direction: column;
                font-size: 15px;  margin-top: 10px;
                input{
                   margin: 5px 0; margin: 10px 0; height: 40px;
                    &:focus{
                        outline: 1px solid $main-color;
                 
                    }
                }
                p{
                    font-size: 12px;
                    span{
                        color: #f00;
                    }
                }
                textarea{
                    width: 100%; min-height: 70px;  resize: none;  overflow: hidden;
                    margin: 10px 0;
                }
            }
            > .wrapper{
            
                margin: 20px 0; 
                
                .addInput{
                    display: flex; align-items: center;
                    justify-content: center; padding: 10px 0;
                    background: #bfdef3; border-radius: 20px;
                    margin-top: 10px;
                    img{
                        width: 20px; filter: invert(1);
                    }
                    width: 100%; text-align: center;
                    cursor: pointer;
                }
                > div{
                   
                    margin-bottom: 10px;
                    border-radius: 5px; background: #cee7f7;
                    div{ 
                        padding: 20px; background:  #e3ecf1;
                    
                
                    }
                    button{
                        width: 30px; height: 30px;
                        background: #fff; border-radius: 50%;
                        margin-top: 20px; 
                        
                        img{
                            width: 50%; 
                        }
                    }
                }
            }
        }
        .submit-btn{
            text-align: center;
            background: #bbbbbb;
            width: 200px;  margin-top: 10px;
            padding: 10px 0;  border-radius: 10px;
            transition: background 0.2s ease-in-out; position: relative;
            &.active{
                background: $main-color;
            }

            &.fail{
                animation: failSubmit 1s forwards ease-in-out;
            }
            span{
                position: absolute; background: #fc0707d8;color: #fff;right: 0%;
                padding: 5px; width: 250px; border-radius: 10px;
                top: -20px; left: 50%; transform: translateX(-50%);
                opacity: 0;
            }
        }
       

    }
    &.artist-detail{
      
        position: relative;
        padding: 0 25px;
        background: #fcfafa;

        .no-data-label{
            font-size: 12px; 
            font-style: italic;
        }


        .artist-wrapper{
            .artist-info{
                display: flex; align-items: center; justify-content: space-between;
                border-bottom: 1px solid #eee;
                .artist-pic{
                    width: 150px; height: 150px;
                    border-radius: 50%; overflow: hidden;
                    display: flex;align-items: center; justify-content: center;
                    border: 3px solid #e9e6e6;

                }
                .text-wrapper{
                    width: calc(100% - 150px);
                    padding:  20px 20px 0 20px;
                    .top{
                        .name{
                            .name-wp{
                                width: 100px;
                                h2{font-size: 15px;}
                                p{font-size: 12px;}
                            }
    
                            display: flex; flex-wrap: wrap;
                            border-bottom: 1px solid #eee;
                            padding-bottom: 10px; 
                            button{
                                background: #000000; color: #fff;
                                font-size: 12px; border-radius: 5px; padding: 10px;
                                &:last-child{
                                    margin-left: 5px; background: $main-color;
                                }
                            }
                        }
                    }
                   
                    .bottom{
                        display: flex;
                        padding: 20px 0;
                            .wp{
                                display: flex; align-items: center;
                                margin: 10px 0; 
                                p.tag{
                                    width: 100px;
                                    font-size: 12px; 
                                }
                                a,p{
                                    color: #000; 
                                    font-size: 12px;
                                }
                            }
                            .left{}
                            .right{
                                margin: 0px 0 0 30px;
                                padding: 0 10px 10px 10px;
                                border-left: 2px solid #e7e7e7;
                                .wp{
                                    border-bottom: 1px solid #e7e7e7;
                                    padding: 0 10px 10px 10px;
                                }
                         
                            }
                    }

                }
            }
            .artist-cv{
                padding: 10px 10px 20px 10px;
                border-top: 1px solid #eee;
                ul{
                    padding-top: 10px;
                    margin-bottom: 20px; padding-bottom: 20px;
                    border-bottom: 1px solid #eee;
                    &:last-child{
                        border: none;
                    }
                    h2{
                        font-size: 20px; margin-bottom: 20px;
                    }
                    li{
                        display: flex; align-items: center; line-height: 2;
                        p{margin-right: 10px; font-size: 12px;}
                        span{font-size: 12px;}
                    }
                }
            }
            .artist-note{
                padding: 20px 10px; border-top: 1px solid #eee;
              
                h2{
                    margin-bottom: 10px; font-size: 15px;
                }
                p{
                    font-size: 12px; line-height: 1.8;
                }
            }
            .artist-work{
                width: 100%;
                padding: 30px 10px;
                    h2{
                        font-size: 20px; 
                    }
                    .wp{  width: 100%;
                        display: flex;
                        justify-content: flex-start; flex-wrap: wrap;
                        .img-description{
                            width: calc(100% / 10 - 10px);
                            margin: 0 5px;  cursor: pointer;
                            background: #000; border-radius: 10px; margin-top: 10px;
          
                            p{
                                font-size: 12px; text-align: center; line-height: 1.5;
                                color: #fff;
                                &:nth-child(2){
                                    padding-top: 10px;
                                }
                                &:last-child{
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }

            }
        }



    }
    &.artwork-write{
      
        padding: 0 20px 20px 20px; border-radius: 10px;
        background: #fff;
        form{
            > div{
                padding: 20px 0;
                border-bottom: 1px solid rgb(199, 199, 199);
                h2{
                    font-size: 20px;
                    margin-bottom: 10px;
                    span{
                        font-size: 12px;
                    }
                }
                .input-wrapper{
                    display: flex;
                    input{
                        margin: 5px 0; border: 2px solid #c0bdbd; border-radius: 5px;
                        max-width: 300px;
                        padding: 0 7px;  height: 40px;   margin: 15px 20px 0 0; width: 50%;
                    }

          
                }
                &.artwork-artist-info{
                    border-bottom: 1px solid rgb(199, 199, 199);
                    padding: 20px 0;
                    .title{
                        font-size: 30px;
                        span{
                            font-size: 15px;
                        }
                    }
                    h2{
                        margin-bottom: 10px;
                    }
                    img{
                        height: 200px; border-radius: 10px;
                        border: 4px solid #000; cursor: pointer;
                    }
                }
                &.input-image{
                    .error-message{
                        background: #f31616d8; color: #fff;
                        padding: 5px 10px; border-radius: 5px;
                        opacity: 0;
                        &.active{
                            opacity: 1;
                            transition: opacity 0.5s ease-in;
                        }
                    }
                    .img-box{
                        width: 100%;
                        .img-section{
                            display: flex; flex-wrap: wrap;

                            label{
                                cursor: pointer;
                                position: relative;                     
                                margin-right: 10px;        
                             }
                             .img-wrapper{
                                 width: 150px; height: 150px;
                                 margin: 10px 0;
                                 background: #000;
                                 border-radius: 10px; 
                                 overflow: hidden; position: relative;
                                 display: flex; align-items: center; justify-content: center;
                                 img{
                                     height:110%; width: auto;
                                     background-size: cover;
                                     transform: scale(1.2);
                                 }
                                 .delete-img{
                                    position: absolute; background: #000; cursor: pointer; 
                                    width: 25px; height: 25px; top: 10px; right: 10px;display: flex; align-items: center; justify-content: center;
                                    border-radius: 50%; display: none; z-index: 100;
                                    p{color: #fff;}

                                }
                                &:hover{
                                    .delete-img{
                                        display: block;
                                    }
                                    
                                }
                             }
                        }
    

                      
                    }
                    input{display: none;}
                }
                &.artwork-info{

 
                }
                &.artwork-location{
                    .addAdress{
                        background: #eee; padding: 20px;border-radius: 10px; margin-bottom: 20px;position: relative;
                        border: 2px solid #c0bdbd;

                        .input-wrapper{
                            input{
                                &#searchAdress{
                                    cursor: pointer; transition: background 0.1s ease-in;
                                    max-width: 200px;
                                    &:hover{
                                        background: #0f98f3;
                                        color: #fff;
                                        border: 2px solid #0570b8;
                                    }
                                }

                            }
                            &.date{
                                flex-direction: column;
                                margin-top: 20px;
                            }

                        }
                        .inner-storage{
                            button{
                                height: 40px;
                                background: #3ca2e6;
                                color: #fff;
                                border: 2px solid #184868;
                                margin-top: 20px; border-radius: 5px;
                                &:hover{
                                    border: 2px solid rgb(187, 187, 3);
                                }
                            }
                        }
                        button{
                            background: #a0a0a0; border-radius: 5px;
                            &.close-btn{
                                width: 30px; height: 30px;
                                position: absolute; right: 20px; bottom: 20px;
                                display: flex; align-items: center; justify-content: center;
                                img{
                                    width: 80%; 
                                }
                            }
                        }
                    }
                    .addLocation{
                        background: #eee; border: 2px solid #000;
                        margin-top: 20px; display: flex; align-items: center;
                        padding: 5px 10px; 
                        img{
                            filter: invert(1);
                            width: 20px;
                        }
                    }
                }
                &.artwork-sale{
                    padding-bottom: 0;
                    .option-wrapper,.input-wrapper{
                        margin-bottom: 20px;
                        label{font-size: 15px;}
                        select{margin-right: 10px;}
                    }
                    .input-wrapper{
                        flex-direction: column;
                        input{
                            margin-top: 5px; margin-bottom: 10px;
              
                        }
                       
                    }
                }
            }

            .addArtwork{
                margin-top: 20px;
                border-radius: 5px;
                background: #bdbdbd; position: relative;
                color: #fff;  border: 2px solid #3c3d3d; 
                padding: 10px; min-width: 300px;
                transition: background 0.1s ease-in;
                &.active{
                    background: #0f98f3;
                    border: 2px solid #0570b8; 
                }
                &.fail{
                    animation: failSubmit 0.3s forwards ease-in-out;
                    span{
                        animation: failAlert 3s 0.35s forwards ease-in-out;
                    }
                }
                span{
                    position: absolute; background: #fc0707d8; color: #fff; right: 0%; top: -20px;
                    padding: 5px; width: 100%; border-radius: 10px;
                    opacity: 0;

                }
            }
        }
    }
    &.artwork-detail{
       > .wp{
        display: flex; justify-content: space-between;
        .artworkInfo{
            display: flex;  background: #fff; border-radius: 10px;
            padding: 30px;  width: 70%; position: relative;
            .modify{
                position: absolute; background: #0f98f3; color: #fff;
                right: 20px; top: 20px; padding: 10px 20px; border-radius: 10px;
            }
            .slider{
                width: 20vw; height: 20vw; cursor: pointer;
                display: flex; align-items: center; justify-content: center;
                background: #eee; border-radius: 10px;
                .swiper-slide{
                    display: flex; align-items: center; justify-content: center;
                 
                    img{
                        height: 300px;

                    }
                }
            }
            .artwork-info{
                padding: 0 30px; 

                ul{
                    width: 100%; height: 100%;
                    display: flex; flex-direction: column; justify-content: space-between;
                    li{
                        line-height: 1.5;
                        border-top: 1px solid #eeeeee;
                        padding: 10px 0; 
                        &:first-child{
                            border-top: none; padding-top: 0;
                        }
                        &:last-child{
                            padding-bottom: 0;
                        }
                        h3{font-size: 15px;}
                        p{
                            font-size: 12px;
                            &.size-wrapper{
                                display: flex; margin: 5px 0;
                                span{
                                    &.size{ 
                                        background: #eee;display: inline-block;
                                        border: 1px solid #7c7b7b; 
                                        width: 25px; height: 25px;
                                        display: flex; align-items: center; justify-content: center; margin-right: 5px;
                                    }
                                }
                            }
                        }
                        
                        span{
                            font-size: 12px; 
    
                        }

                        a{
                            color: #000; border-bottom: 2px solid #000; font-size: 20px;
                        }
                    }
                }
            }
        }
        .status{
            padding: 30px; border-radius: 10px;
            background: #fff; width: calc(30% - 20px);
            ul{
                li{
                    padding: 20px 0; border-bottom: 1px solid #eee;
                    line-height: 1.5;
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    h3{
                        font-size: 15px;
                    }
                    p{
                        font-size: 12px; 
                        &:last-child{
                            padding-top: 10px;  color: #5f5f5f;
                        }
                    }
                    button{
                        background: #eee;  padding: 10px 20px;
                        border-radius: 10px;
                    }
                }
            }
        } 
       }

        .artworkIocation{
            padding: 30px; border-radius: 10px; background: #fff;
            height: auto; margin-top: 20px;
            
            h2{
                font-size: 30px; text-transform: uppercase;
            }

            .location-wrapper{
                display: flex; padding: 20px 0;  justify-content: space-between;

                .location-box-wrapper{
                     width: calc(50% - 10px);
                    h3{
                        font-size: 20px;
                        margin-bottom: 20px;
                    }
                    .location-box{
                        background: #f5f5f5; padding: 25px; border-radius: 10px;
                        margin-bottom: 10px; margin-left: 30px;
                        position: relative;
                        .number-tag{
                            position: absolute; top: 0; left: 0; background: #000; width: 20px; height: 20px;
                            color: #fff; display: flex; align-content: center; justify-content: center;
                            font-size: 12px;
                        }
                        &::before{
                            position: absolute; content: ""; width: 1px; height:  calc(100% + 10px);
                            background: #000; left: - 20px; top: 0;
                        }
                        &::after{
                            position: absolute; content: ""; width: 5px; height: 5px; background: #000;
                            left: -22.5px; top: 50%; transform: translateY(-50%); border-radius: 50px;
                        }
                        &:nth-child(even){
                            background: #e2e3f8;
                        }
                        ul{
                            display: flex; align-items: flex-start;
                            li{
                                display: flex; flex-direction: column; 
                                margin-right: 15px; border-right: 1px solid #acacac; padding-right: 15px;

                                &:last-child{ border: none; margin-right: 0; padding-right: 0; }
                                h3{ font-size: 15px; margin-bottom: 5px;}  
                                p{
                                    font-size: 12px; padding: 5px 0;
                                    &.tag{
                                        background: #aa78f1; color: #fff;  border-radius: 5px; padding:5px 10px; 
                                    }
                                }


                            }
                        }
                    }
                }
            }
            
        }
    }
}

@keyframes failSubmit {
    0%{transform: translateX(0);}
    20%{transform: translateX(3px);}
    40%{transform: translateX(-3px);}
    60%{transform: translateX(3px);}
    80%{transform: translateX(-3px);}
    100%{transform: translateX(0);}
    
}

@keyframes failAlert {
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}   
}