@charset "utf-8";

/////////////////////////////* default */////////////////////////////

body { -webkit-font-smoothing: antialiased; }
body,html{overflow-x: hidden;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {	box-sizing: border-box;}
ol, ul, li {list-style: none;text-decoration: none;}
table {	border-collapse: collapse; border-spacing: 0;}
img { max-width: 100%;	height: auto; 	border: 0; }
button {border: 0; background: transparent; cursor: pointer;}
input{ -webkit-appearance: none;-webkit-border-radius: 0;}

::-webkit-scrollbar {
    width: 8px; /* 세로 스크롤바의 너비 */
    height: 8px; /* 가로 스크롤바의 높이 */
}


::-webkit-scrollbar-track {
    background: #3b3b3b;
 
}


::-webkit-scrollbar-thumb {
    background: #bdbdbd;


}

/* Chrome, Firefox, Opera, Safari 10.1+ */
input:focus::placeholder{
    color:transparent;
}

/* Edge */
input:focus::-ms-input-placeholder{
    color:transparent;
}

/////////////////////////////* default */////////////////////////////

$main-color : #E9501A;




.nav{
    width: 100%; position: fixed; background: #fff;
    padding: 0 20px; z-index: 100;
    height: 85px; align-items: center;
    display: flex; justify-content: space-between;
    background: $main-color;
    > ul{
        display: flex; align-items: center;
        width: calc(100% / 3 ); height: 100%; 
        &.list-btn{
            display: flex; 
             button{
                 padding: 5px;
                  width: 100px;background: #fff;
                 border: 1px solid #000;
                 margin: 10px 10px 10px 0;
                 &.active{
                     background: #000;
                     color: $main-color;
                 }
             }
         }
        &:nth-child(1){ 
            justify-content: flex-start;
            li.hambuger{
                margin-left: 5px;
            }
        }

        &:last-child{ 
            justify-content: flex-end; 
            img{
                width: 20px;
                margin: 0 10px;
            }
      
        }
        &:nth-child(1),  &:last-child{
            > li{
                background: #000; height: 30px;
                padding: 5px 15px; display: flex; align-items: center; justify-content: center;
                a{
                    color: #fff;
            }}
            > li.admin{
                background: transparent; 
                p{
                    font-size: 12px; 
                    strong{
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }

        li{
           
            a{
                font-size: 13px; color: #000;
            }
        }
    

    }
    
    

}
.side-nav{
    width: 15vw; height: 100%; 
    position: fixed; padding-top: 140px;
    ul{
        width: 90%;
        li{

            background:#121213;
            margin: 0 10px 10px 10px; border-radius: 30px; 
            padding: 10px;
            a{
                display: flex; align-items: center; color: #fff;
                font-size: 12px; 
            }
            img{
                width: 30px;
            }

            &.search{
                display: flex; background: #eee;
                img{
                    width: 25px; cursor: pointer;
                }
                input{
                    width: calc(100% - 20px);
                    border: none;  background: transparent; color: #000;
                    padding-left: 5px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}
section{
 
    &.main{ 
        display: flex; align-items: center; justify-content: center; flex-direction: column;
        position: relative; width: 100vw; height: 100vh; background: $main-color;
        .login-btn{
            background: #000; color: #fff; padding: 5px 20px;
            border-radius: 5px;
        }
        .welcome{
            font-size: 13px;
            margin: 30px 0 20px; border-bottom: 1px solid #000;
        }
        .Register{
            font-size: 12px; border-bottom: 1px solid #000;
        }
        h1.title{
            font-size: 9vw; text-transform: uppercase;  
        }
        .btn-wrapper{
        display: flex; align-items: center; justify-content: center;
        button{
            cursor: pointer;  padding: 5px 10px;
            
        }
        .line{
            width: 22vw; height: 1px; background: #000;
         position: relative;
            .circle{
                width: 5px; height: 5px; background: #000;
                position: absolute; border-radius: 50%; top: 50%; left: 50%; 
                transform: translate(-50%,-50%);
                transition: all ease-in-out 0.8s;
                &.left{
                    left: 100%;
                }
                &.right{
                    left: 0;
                }
            }
        }
        }
        .copyright{
        position: absolute; font-size: 13px; font-weight: bold;
        bottom: 20px; left: 20px;
    }
    }
    &.login-page{
        width: 100%; height: 100vh; display: flex; position: relative;
        align-items: center; justify-content: center; background: $main-color;
        h2{
            font-size: 50px; font-weight: 100; text-transform: uppercase;
            margin-bottom: 20px; background: #000; color: #fff; font-weight: bold; text-align: center;
        }
        p{margin-bottom: 50px;}
        .wrapper{
             background: #fff;
             border-radius: 20px; width: 30vw; height: auto;
             padding: 30px;  min-width: 480px; min-height: 500px;
             border: 3px solid #000;  display: flex;
             flex-direction: column; justify-content: space-around;
            form{
                display: flex; flex-direction: column;
             
                input{
                    width: calc(100% - 14px); height: 40px; 
                    margin: 10px 0; border: 1px solid #000;
                    padding-left: 10px; font-size: 12px;
                    &:focus{
                        outline : 1px solid $main-color;
                        border: 1px solid #fff;
                    }
                    &.id-input{
                        margin-bottom: 0;
                      }
                }
                label{
                    font-size: 12px; margin-top: 12px; 
                    padding: 5px ;
                    .alert{
                        color: #f00; display: none;
                        &.positive{
                            color: blue;
                        }
                    }

          
                }
                button.submit{
                    background: #6d6d6d; color: #fff;
                    &.active{
                        background: $main-color; color: #fff;
                        transition: background 0.2s ease-in-out;
                    }
                     margin-top: 10px;
                    width: 100%;height: 44px;  font-size: 15px; margin-top: 20px;
                    bottom: 50%; right: 10vw; border: 2px solid #000;
                }
                button.check-id{
                    margin-top: none; background: #000; color: #fff; padding: 5px 0;
                }
            
            } 
            button.join{
                width: 25%; border-bottom: 2px solid $main-color;
               margin: 0 auto;
            }
        }
    }
    &.admin{
        width: 80vw;
        margin: 140px 3vw 100px 15vw;
       
    }
    &.admin-main{
        height: calc(100vh - 200px);
        display: flex; width: 100%;

        .main-section-wrapper{
            overflow-y: scroll; 
            overflow-x: scroll; 
            position: fixed; 
            width: 80vw; height: 80vh;
            border: 3px solid #000;
            table{
                width: 100%; height: 100%;
                border-top: none;
                border-bottom: 3px solid #000;
                thead, tbody{
                    tr{
                        display: flex; width: 100%; justify-content: space-between;
                        flex-wrap: nowrap; align-items: center;
                        padding: 5px 0;
                        th,td{
                            font-size: 12px; padding: 2px;
                            width: 200px; text-align: center;
                            .img-wrapper{
                                width: 70px; height: 70px;  border: 3px solid #000;
                                border-radius: 50%; overflow: hidden;
                                &:hover{
                                    border: 3px solid $main-color;
                                }
                                img{
                                    &.artist-img{
                                       cursor: pointer; width: 100%; height: 100%;
                                         background-size: cover;
                                       
                                }

                            }
                           
                           }
                            &:first-child{
                                width: 20px;
                            }
 
                        }

                    }
                }
                thead{
                    // position: fixed; width: calc(80vw - 5px);
                     height: 20px; 
                    tr{
                        background: #000;
                        color: #fff;
                     
                    }
                    
                }
                tbody{
                    border: 1px solid #000;
                    tr{
                          border-bottom: 1px solid #dbdada; 
                        padding: 10px 0;
                        &:hover{
                            background: #b9e0fa;
                          
                        }
                        td.artistPage{
                            &:hover{
                               background: #55a5d3;
                           
                            }
                        }
                        button{
                            &.addArtwork{
                                font-size: 12px;
                                color: #fff; background: #0f98f3;
                                padding: 10px; border-radius: 10px;
                                transition: background 0.2s ease-in-out;
                                &:hover{
                                    background: #0099ff;
                                    border: 2px solid $main-color;
                                }
                            }
                            
                        }
                    }

                }
            }
        

        }

    }
    &.artist-write{
         min-height: 80vh;
         margin-bottom: 50px;
         form{
            display: flex; flex-direction: column;
         }
        .img{
            width: 200px; height: 200px; 
            margin: 0 auto; position: relative; 
            label{
                background: #000; width: 100%; height: 100%; position: relative;
                position: absolute;border-radius: 50%; cursor: pointer;
                border: 3px solid #000;  display: flex; align-items: center; justify-content: center;
                input{display: none;}
                .preview-img-wrapper{
                       width: 100%; height: 100%; position: relative; 
                       overflow: hidden; border-radius: 50%; 
                }
                img{
                    &#previewImg{
                        position: absolute; width: 100%;
                       top: 50%; left: 50%; transform: translate(-50%,-50%);
                    }
                    &.plus{ 
                        position: absolute; bottom: 0%; right: 0%; 
                        width: 50px; height: 50px; background: #000;
                        border-radius: 50%;
                    }
                
                }
            }
        }
        .info-form{
            width: 50%; margin: 0 auto;  max-width: 500px;
            h2{
                margin: 20px 0; background: #000; color: $main-color;
                padding: 5px; font-size: 18px;
            }
            label{
                display: flex; flex-direction: column;
                font-size: 12px; margin-top: 5px;
                input{
                    height: 30px; margin: 5px 0;
                    border: 1px solid #c0bdbd; padding: 0 7px;
                    height: 40px;
                    &:focus{
                        outline: 1px solid $main-color;
                 
                    }
                }
                p{
                    span{
                        color: #f00;
                    }
                }
                textarea{
                    width: 100%; min-height: 70px;  resize: none;  overflow: hidden;
                    margin: 10px 0;
                }
            }
            > .wrapper{
            
                margin: 20px 0; 
                
                .addInput{
                    display: flex; align-items: center;
                    justify-content: center; padding: 10px 0;
                    background: #e4edf3; border-radius: 20px;
                    margin-top: 10px;
                    img{
                        width: 20px; filter: invert(1);
                    }
                    width: 100%; text-align: center;
                    cursor: pointer;
                }
                > div{
                   
                    padding: 20px; margin-bottom: 10px;
                    border-radius: 5px; background: #cee7f7;
                    border-bottom: 1px solid #000;
                    button{
                        width: 30px; height: 30px;
                        background: #fff; border-radius: 50%;
                        margin-top: 20px; 
                        
                        img{
                            width: 50%; 
                        }
                    }
                }
            }
        }
        .submit-btn{
            text-align: center;
            background: #bbbbbb;
            width: 200px; margin: 0 auto; margin-top: 10px;
            padding: 10px 0;  border-radius: 10px;
            &.active{
                background: $main-color;
           
            }
        }

    }
    &.artist-detail{
      
        position: relative;
        padding: 0 25px;
        background: #fcfafa;

        .no-data-label{
            font-size: 12px; 
            font-style: italic;
        }

        .artist-work{

        }
        .artist-wrapper{
            .artist-info{
                display: flex; align-items: center; justify-content: space-between;
                border-bottom: 1px solid #eee;
                .artist-pic{
                    width: 150px; height: 150px;
                    border-radius: 50%; overflow: hidden;
             
                    img{width: 100%; height: 100%; 
                    }
                }
                .text-wrapper{
                    width: calc(100% - 150px);
                    padding:  20px;
                    .name{
                        .name-wp{
                            width: 100px;
                            h2{font-size: 15px;}
                            p{font-size: 12px;}
                        }

                        display: flex; flex-wrap: wrap;
                        border-bottom: 1px solid #eee;
                        padding-bottom: 10px; 
                        button{
                            background: #000000; color: #fff;
                            font-size: 12px; border-radius: 5px; padding: 10px;
                        }
                    }
        
                    .wp{
                        display: flex; align-items: center;
                        margin: 10px 0; 
                        p.tag{
                            width: 100px;
                            font-size: 12px; 
                        }
                        a,p{
                            color: #000; 
                            font-size: 12px;
                        }
                    }
                }
            }
            .artist-cv{
                padding: 10px 10px 20px 10px;
                border-top: 1px solid #eee;
                ul{
               
                    padding-top: 10px;
                    h2{
                        font-size: 15px; margin-bottom: 5px;
                    }
                    li{
                        display: flex; align-items: center; line-height: 1.5;
                        p{margin-right: 10px; font-size: 13px;}
                        span{font-size: 12px;}
                    }
                }
            }
            .artist-note{
                padding: 20px 10px; border-top: 1px solid #eee;
              
                h2{
                    margin-bottom: 10px; font-size: 15px;
                }
                p{
                    font-size: 12px; line-height: 1.8;
                }
            }
            .artist-work{
                width: 100%;
                padding: 10px;
                    h2{
                        font-size: 15px; margin-bottom: 10px;
                    }
                    .wp{  width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        .img-description{
                            width: calc(100% / 6 - 10px);
                            margin: 0 5px; border: 1px solid #f00; cursor: pointer;
                            p{
                                font-size: 12px; text-align: center;
                            }
                        }
                    }

            }
        }



    }
    &.artwork-write{
        border: 4px solid #000;
        padding: 0 20px 20px 20px;
        form{
            > div{
                padding: 20px 0;
                border-bottom: 1px solid rgb(199, 199, 199);
                h2{
                    font-size: 20px;
                    margin-bottom: 10px;
                    span{
                        font-size: 12px;
                    }
                }
                .input-wrapper{
                    display: flex;
                    input{
                        margin: 5px 0; border: 2px solid #c0bdbd; border-radius: 5px;
                        max-width: 300px;
                        padding: 0 7px;  height: 40px;   margin: 15px 20px 0 0; width: 50%;
                    }

          
                }
                &.artwork-artist-info{
                    border-bottom: 1px solid rgb(199, 199, 199);
                    padding: 20px 0;
                    .title{
                        font-size: 30px;
                        span{
                            font-size: 15px;
                        }
                    }
                    h2{
                        margin-bottom: 10px;
                    }
                    img{
                        height: 200px; border-radius: 10px;
                        border: 4px solid #000; cursor: pointer;
                    }
                }
                &.input-image{
                    .img-box{
                        width: 100%;
                        .img-section{
                            display: flex; flex-wrap: wrap;

                            label{
                                cursor: pointer;
                                position: relative;                     
                                margin-right: 10px;        
                             }
                             .img-wrapper{
                                 width: 150px; height: 150px;
                                 margin: 10px 0;
                                 background: #000;
                                 border-radius: 10px; 
                                 overflow: hidden;
                          
                                 display: flex; align-items: center; justify-content: center;
                                 img{
                                     height:110%; width: auto;
                                     background-size: cover;
                                     transform: scale(1.2);
                                 }
                             }
                        }
    

                      
                    }
                    input{display: none;}
                }
                &.artwork-info{

 
                }
                &.artwork-location{
                    .addAdress{
                        background: #eee; padding: 20px;border-radius: 10px; margin-bottom: 20px;position: relative;
                        border: 2px solid #c0bdbd;

                        .input-wrapper{
                            input{
                                &#searchAdress{
                                    cursor: pointer; transition: background 0.1s ease-in;
                                    max-width: 200px;
                                    &:hover{
                                        background: #0f98f3;
                                        color: #fff;
                                        border: 2px solid #0570b8;
                                    }
                                }

                            }
                            &.date{
                                flex-direction: column;
                                margin-top: 20px;
                            }

                        }
                        .inner-storage{
                            button{
                                height: 40px;
                                background: #3ca2e6;
                                color: #fff;
                                border: 2px solid #184868;
                                margin-top: 20px; border-radius: 5px;
                                &:hover{
                                    border: 2px solid rgb(187, 187, 3);
                                }
                            }
                        }
                        button{
                            background: #a0a0a0; border-radius: 5px;
                            &.close-btn{
                                width: 30px; height: 30px;
                                position: absolute; right: 20px; bottom: 20px;
                                display: flex; align-items: center; justify-content: center;
                                img{
                                    width: 80%; 
                                }
                            }
                        }
                    }
                    .addLocation{
                        background: #eee; border: 2px solid #000;
                        margin-top: 20px; display: flex; align-items: center;
                        padding: 5px 10px; 
                        img{
                            filter: invert(1);
                            width: 20px;
                        }
                    }
                }
                &.artwork-sale{
                    padding-bottom: 0;
                    .option-wrapper,.input-wrapper{
                        margin-bottom: 20px;
                        label{font-size: 15px;}
                        select{margin-right: 10px;}
                    }
                    .input-wrapper{
                        flex-direction: column;
                        input{
                            margin-top: 5px; margin-bottom: 10px;
              
                        }
                       
                    }
                }
            }

            .addArtwork{
                margin-top: 20px;
                border-radius: 5px;
                background: #bdbdbd;
                color: #fff;  border: 2px solid #3c3d3d; 
                padding: 10px; min-width: 300px;
                transition: background 0.1s ease-in;
                &.active{
                    background: #0f98f3;
                    border: 2px solid #0570b8; 
                }
            }
        }
    }
}
