<nav class="nav">    
    <ul>
        <li class="search"><img src="/img/search.svg" alt="">
            <input type="text" placeholder="Search">
        </li>
        <li class="admin">
            <img class="user" src="/img/user.svg" alt="">
            <div class="wp">
                <p class="name"><%= result.realname %>  <a href="/logout"><img src="/img/logout.png" alt=""></a> </p>
                <p class="email"><%= result.useremail %> </p>
           
            </div>

        </li>
    </ul>       
</nav>
<script>
    const nav = document.querySelector('nav')
    window.addEventListener('scroll', function(){

        if(window.scrollY > 50){
            nav.classList.add('active');
        }else{
            nav.classList.remove('active');
        }
    })
</script>


