<nav class="side-nav">
    
    <ul>
        <li class="search"><img src="/img/search.svg" alt=""><input type="text"></li>
        <li class="active"><a href="/admin/write/artist"><img src="/img/plus.png" alt=""> ARTIST </a></li>
        <li><a href="/admin/write/artwork"><img src="/img/plus.png" alt=""> ARTWORK </a></li>
        <li><a href="/admin/write/user"><img src="/img/plus.png" alt=""> USER </a></li>
    </ul>
</nav>