<nav class="side-nav">
    
    <ul>
        <li class="logo"><a href="/">ARCHIVE</a></li>
        <li><button id="artworkBtn"
            
             onclick="location.href='/admin/list/artwork/10'"
             
             >
                <img src="/img/artwork.png" alt="">
                Artwork
            </button>
        </li>
        <li>
            <button id="artistBtn" onclick="location.href='/admin/list/artist/10'">
                <img src="/img/artist.png" alt="">
                Artist
            </button>
        </li>
        <li>
            <button id="userBtn" onclick="location.href='/admin/list/user/10'">
                <img src="/img/user.svg" alt="">
                User
            </button>
        </li>

    </ul>
</nav>

<script>

    window.onload = function() {
        
        const currentPath = window.location.pathname;

        if (currentPath.includes('/admin/list/artwork') || currentPath.includes('/login')) {
            document.getElementById('artworkBtn').classList.add('active');
        } else if (currentPath.includes('/admin/list/artist')) {
            document.getElementById('artistBtn').classList.add('active');
        } else if (currentPath.includes('/admin/list/user')) {
            document.getElementById('userBtn').classList.add('active');
            document.getElementById('artworkBtn').classList.remove('active');
        }
      
    };
</script>